<!DOCTYPE html>
<html lang="en">
<head>
    <title>Promo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
    <!-- Bootstrap -->

    <link rel="icon" type="image/png" href="images/Logo.png"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css.map">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css.map">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css.map">
    <link rel="stylesheet" href="css/bootstrap.css.map">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css.map">
<!--    <link rel="stylesheet" href="css/main2.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
        <a class="navbar-brand" href="test.php">
            <img src="images/navnav.png" height="30" alt="PromoAlert Logo">
        </a>
            </div>
        </nav>
    </div>
    
<div ng-app="">
<div class="container">
    <hr class="w-75 mt-5 "/>
    <h1 class="text-center mt-0" id="titlecreate">Create new Promoter Account</h1>
    <hr class="w-75"/>
    
    <h4 class="text-center font-weight-normal"></h4>
    
    <div class="response">
    </div>
    
    <div class="row mt-5 shadow-lg mt-5 pt-4">
        <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <form method="post" id="myPromoterForm" enctype="multipart/form-data">
            <br/>
            <img src="#" id="coverimg"/>
            
            <h5 class="text-muted font-weight-normal">Please select a cover image</h5>
            <div class="custom-file mb-3">
              <input
                     type="hidden" 
                     class="custom-file-input" 
                     id="customFileA" 
                     name="app_cover"
                     role="uploadcare-uploader"
                     data-crop="820x315"
                     >
            </div>
            
            <br/>
            
            <img src="#" id="profileimg"/>
            <h5 class="text-muted font-weight-normal">Please select a profile image</h5>
            <div class="custom-file mb-3">
              <input type="hidden" 
                     class="custom-file-input" 
                     id="customFileB" 
                     name="app_profile"
                     role="uploadcare-uploader"
                     data-crop="360x360"s
                     >
            </div>


            <div class="form-group mt-3">
            <label for="title">Username</label><small class="text-muted ml-2"> Brand Name</small>
            <input class="form-control" id="title" type="text" placeholder="eg. KFC, Lazada" name="app_name" ng-model="title">
            </div>
            <div class="form-group mt-3">
            <label for="desp">Description</label><small class="text-muted ml-2"> About Brand</small>
            <textarea class="form-control" id="desp" ng-model="desp" placeholder="eg. Our brand sells..." name="app_desp" rows="3"></textarea>
            </div>
            <div class="form-group">
                <div id="emailinfo">
                    <label for="promoter_email">Email address</label>
                    <input type="email" class="form-control" id="promoter_email" placeholder="name@example.com" name="app_email">
                    <small class="text-muted ml-2">You will receive a confirmation email once your application is validated</small>
                
                    <br/>
                    <br/>
                    <div class="form-group">
                    <label for="promoter_password">Password</label>
                    <input type="password" class="form-control" id="promoter_password" placeholder="Password" name="app_pass">
                    </div>
                    <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="app_cpass">
                    </div>
                </div>
            <br/>
            <h5 class="font-weight-normal">Keywords</h5>
            <hr class="w-50 ml-0 mt-1" />
            <div class="form-check form-check-inline">
              <input class="form-check-input keyword" type="checkbox" value="food" name="app_key[]">
              <label class="form-check-label" for="cbkeyf">Food</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input keyword" type="checkbox" value="drink" name="app_key[]">
              <label class="form-check-label" for="cbkeyd">Drinks</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input keyword" type="checkbox" value="clothes" name="app_key[]">
              <label class="form-check-label" for="cbkeyc">Clothes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input keyword" type="checkbox" value="shoe" name="app_key[]">
              <label class="form-check-label" for="cbkeys">Shoes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input keyword" type="checkbox" value="bag" name="app_key[]">
              <label class="form-check-label" for="cbkeyb">Bags</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input keyword" type="checkbox" value="other" name="app_key[]">
              <label class="form-check-label" for="cbkeyo">Others</label>
            </div>
            
            <p class="error"></p>

            <br/>
            <br/>
                </div>
        </form>
            <p class="text-muted">Satisfied with what you see? Send us your application.</p>
            <button class="btn btn-warning btn-block mb-3" name="upload" value="upload" id="createpro" onclick="addpromoter()">Create Promoter</button>
            
            <button class="btn btn-warning btn-block m-5" name="update" value="update" id="updatepro" onclick="updatepromoter()">Update Promoter Information</button>
            
        
    </div>
    
</div>
    
</div>
</div>
<br/>
<br/>
    
    <script>
        // Add the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>    
    <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-functions.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyCA_sMgKuNxk2ngSqJRSX8aAvmrn80fBPo",
            authDomain: "onlinepromoapp.firebaseapp.com",
            databaseURL: "https://onlinepromoapp.firebaseio.com",
            projectId: "onlinepromoapp"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        
        // make auth and firebase ref
        const auth = firebase.auth();
        const db = firebase.firestore();
        const functions = firebase.functions();
        
        
    </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
        //UPLOADCARE
        UPLOADCARE_LOCALE = "en";
        UPLOADCARE_LIVE = "false";
        UPLOADCARE_PUBLIC_KEY = "566cf60ccd0f048ca3df";
    </script>
    
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
    <script src="scripts/auth.js"></script>
    <script src="scripts/addpromoter.js"></script>
</body>
</html>
