/*stepper buttons*/
.stepper {
	display: block;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2.5em;
	padding: 6px 4px;
	margin: 4px;
    border-radius: 50%;
    padding: 0px 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: darkslategray;
    border: 2px solid orange;
}

.stepper:hover, .active
{
    background-color: orange; /* Green */
    color: white;
    text-decoration: none;
}

.disabled
{
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

#JTextH {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

#Jhr {
    width: 50%;
}

#facebook-button{
    color: #FFF;
    width: 228px;
    border-radius: 5px;
    cursor: pointer;
}

#twitter-button{
    color: #FFF;
    width: 228px;
    border-radius: 5px;
    cursor: pointer;
}

#google-button{
    color: #FFF;
    width: 228px;
    border-radius: 5px;
    cursor: pointer;
}

.seperator{
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    color: #ccc;
    width: 80%;
    margin-left: 46px;
}

.seperator i{
    padding: 0 10px;
    margin-top: 20px;
    background: #fff;
    position: relative;
    top: -11px;
    z-index:1;
}